{% extends "potfonebks/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>Edit existing contact:</h2>
{% endblock header %}


{% block content %}

<div class="col-md-12 col-sm-12 col-xs-12 user-login-box">
	<p><a href="{% url 'potfonebks:contact' contact.id %}">{{ contacts }}</a></p>
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 text-center">
        <form action="{% url 'potfonebks:edit_contact' contact.id %}" method="post" class="form">
			{% csrf_token %}
			{% bootstrap_form form %}

			{% buttons %}
			  <button name="submit" class="btn btn-primary">{% bootstrap_icon "star" %}save changes</button>
			{% endbuttons %}
		</form>
      </div>
    </div>
</div>

{% endblock content %}